/* src/app/profile/profile.component.scss */

.profile-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 40px); // Adjust if you have header
  background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);
  padding: 20px;
}

.profile-card {
  width: 100%;
  max-width: 450px;
  padding: 16px;

  .profile-avatar {
    background-color: #3f51b5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-card-title {

    margin-top:10px;
  }



  mat-card-content {
    margin-top: 16px;

    p {
      font-size: 16px;
      margin: 12px 0;
    }
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 16px;
  }
}
